/* Define standard variables and values for website */
$bgcolor: #E7EBF0;
$textcolor: darkblue;
$fontheading: 16px;
$fontdata: 14px;
$fontfamily: fantasy;
$fontstyle: italic;
$errmsg: red;

/* Use the variables */

.homeMianDiv {
  background-color: $bgcolor;
  font-style: $fontstyle;
  padding: 2%;

  .errmsg{
    color: $errmsg;
    }
  .homeHeader {

    h1 {
      font-family: $fontfamily;
    }

    .loginMainComponent {
      display: inline-block;
    }
  }
  .carousel-demo .product-item .product-item-content {
    border: 1px solid var(--surface-d);
    border-radius: 3px;
    margin: .3rem;
    text-align: center;
    padding: 2rem 0;
}

.carousel-demo .product-item .product-image {
    width: 50%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
}

.userActions{
cursor: pointer;
}

.userDetails{
  filter: drop-shadow(1px 2px 3px);
}

.deletedRow{
filter: blur(0.7px) !important;
color: #cf7a7a !important;
}


  .css-1t1j96h-MuiPaper-root-MuiDialog-paper{
    border-radius: 8px !important;
  }

  .css-1hsz34s-MuiDrawer-docked .MuiDrawer-paper, .css-2dum1v-MuiDrawer-docked .MuiDrawer-paper{
    filter: drop-shadow(1px 2px 4px);
    background-color: gainsboro;
  }

.DashBoard, .Categories, .Configuration, .Management{
  background-color: cadetblue !important;
  color: white !important;
}

.logInMainDiv{
  background-image: url('../Helpers/Images/backgroundimg.jpg');
  background-size: 125%;
  background-repeat: no-repeat;
  background-position-x: right;
}
  
  .aboutUs {
    background-color: rgb(0 0 0 / 10%);
    opacity: inherit;
    font-weight: bold;
    color: #141415;
}

.userDetails{
  .p-datatable {
    .p-datatable-thead > tr > th{
      background-color: #213a55d4;
      color: white;
      border-left: 0.5px solid rgba(224, 224, 224, 1);
      padding: 0.7rem;
      font-size: $fontheading;
    }
    .p-datatable-tbody > tr > td{
      border-left: 0.5px solid #9eaede69;
      padding: 0.5rem;
      font-size: $fontdata;
    }
  }

  .p-datatable.p-datatable-striped .p-datatable-tbody > tr.p-row-odd{
    background-color: rgba(0, 0, 0, 0.04);
  }

  .searchField{
    font-size: $fontdata;
  }

  .addButton button{
font-size: $fontdata;
  }
  
}