/* Define standard variables and values for website */
$bgcolor: #E7EBF0;
$textcolor: darkblue;
$fontsize: 14px;
$fontfamily: fantasy;
$fontstyle: oblique;

/* Use the variables */
.homeMianDiv{
  background-color: $bgcolor;
  padding: 2px;
  h1 {
    font-family: $fontfamily;
    font-style: $fontstyle;
  }
}
